<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
<thead>
<tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Phone number</th>
    <th>Age</th>
    <th>Email</th>
</tr>
</thead>
<tbody th:each="user: ${users}">
    <td th:text="${user.firstName}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.phoneNumber}"></td>
    <td th:text="${user.age}"></td>
    <td th:text="${user.email}"></td>
</tbody>
</table>
</body>
</html>